.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: #ffffff;
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product button {
  background: #FFD814;
  border: 1px solid;
  margin-top: 10px;
  border-color: #FCD200;
  color: #111111;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  height: 38px;
  padding: 3px 16px 3px 17px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.product button:hover {
  background: #F7CA00;
  border-color: #F2C200;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
